.App {
  text-align: center;
}

.green-indicator {
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
  border-radius: 50%;
  margin: 5px;
}

.red-indicator {
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, hsla(22, 100%, 78%, 1) 0%, hsla(2, 78%, 62%, 1) 100%);
  border-radius: 50%;
  margin: 5px;
}

.green-indicator-small {
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
  border-radius: 50%;
  margin: 5px;
}

.red-indicator-small {
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, hsla(22, 100%, 78%, 1) 0%, hsla(2, 78%, 62%, 1) 100%);
  border-radius: 50%;
  margin: 5px;
}

.container {
  display: flex;
  align-items: center;
}

.toggle-button {
  width: calc(100% - 10px);
  margin: 5px !important;
  display: block;
  position: fixed;
}

.ext-name {
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.ext-info {
  max-height: 400px;
  overflow: scroll;
}
